// --------------------------------------------
// 타이포그래피 설계(Typography Design)
// --------------------------------------------
// 기본 글꼴 사이즈
$base-font-size: 14px !default;
// 글줄 사이(행간) 비율 - line-height: 1.5
$leading-scale: 1.5;
// 글줄 사이(행간) 간격 - 21px
$leading: $base-font-size * $leading-scale;
// 기본 폰트 컬러
$base-font-color: #181818;
// 기본 폰트 스타일
$base-font-family: 'Roboto', 'Spoqa Han Sans', 'Sans-serif';

// --------------------------------------------
// 레이아웃 설계
// --------------------------------------------
// 기본 넓이값
$wrapper-width: 100%;
// 그리드 영역 최대 넓이값
$grid-max-width: 1280px;

a, :hover, :focus{
  text-decoration: none;
  color: $base-font-color;
}
.t-left{
  text-align: left;
}
.t-right{
  text-align: right;
}
.t-center{
  text-align: center;
}
.t-bold{
  font-weight: bold;
}
.f-left{
  float:left;
}
.f-right{
  float:right;
}
.modal-box{
  border: 1px solid #ddd;
  background: #fff;
  z-index: 9999;
}
button{
  border-radius: 3px;
  outline: none;
  background: #484848;
  border: 1px solid #3e3e3e;
  margin-top: $leading /2;
  line-height: $leading-scale * 2;
  padding: 0 20px;
  color: #fff;
  font-size: 1.2rem;
}
button.blue{
  background: #2f8be6;
  border: 1px solid #2983dd;
}

input[type=text], input[type=search]{
  border: none;
  line-height: $leading-scale * 2;  
}
textarea{
  box-sizing: border-box;
  resize: none;
  border: none;
}