@import 'mixin';
@import 'base';

html{
    font-size: 10px;
}

body{
    font-size: $base-font-size;
    color: $base-font-color;
    font-family: $base-font-family;
    /*font-weight는 100(thin), 400(normal), 700(bold)만 사용하세요.*/
    line-height: $leading-scale;
    background: #353535;
}

.header-wrapper{
  width: $wrapper-width;
  background: #282828;
  border-bottom: 1px solid #1e1e1e;
  margin-bottom: $leading*2;
}

.box{
  width: 100%;
  margin-bottom: $leading;
}

.header .box{
  margin-bottom: 0;
  @include mobile{
    line-height: 3;
  }
  @include tablet{
    line-height: 3;
  }
  @include desktop{
    line-height: 4.5;
  } 
}


// header
.heading .box{
  position: relative;
}

.heading .box img{
  width: 150px;  
  height: auto;
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 0;
}

.goods-search-box{
  width: 400px;
  height: 40px;
  background: #fff;
  border: 1px solid #ddd;
  line-height: $leading-scale;
  padding-left: 15px;
  margin-top: 12px;
}

.input-search-goods{
  width:70%;
  height: 100%;
  outline: none;
  border: none;
  margin-left: 10px;
  box-sizing: border-box;
}

// main
.contents .box{
  width: 100%;
  height: 210px;
  // border: 1px solid #1e1e1e;
  background: #fff;
}

.goods-thumbnail-box{
  width: 100%;
  height: 100%;
  border: 1px solid #1e1e1e;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  
}

.goods-thumbnail-box img{
  width: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150px, -50%);
}