@import 'mixin';
@import 'base';

html{
    font-size: 10px;
}
body{
    font-size: $base-font-size;
    color: $base-font-color;
    font-family: $base-font-family;
    /*font-weight는 100(thin), 400(normal), 700(bold)만 사용하세요.*/
    line-height: $leading-scale;
    background: #f9f9f9;
    position: relative;
}
.header-wrapper{
  width: $wrapper-width;
  background: #fff;
  border-bottom: 1px solid #ddd;
  margin-bottom: $leading * 2;
}
.box{
  width: 100%;
  margin-bottom: $leading;
}
.header .box{
  margin-bottom: 0;
  @include mobile{
    height: $leading * 3;
  }
  @include tablet{
    height: $leading * 3;
  }
  @include desktop{
    height: $leading * 4;
  } 
}

// header
.heading{
  img{
    width: 150px;  
    height: auto;
    margin-top: $leading + 3px;
    margin-left: 35px;
  }
}

.search .box{
  padding-top: $leading;
}
.goods-search-box{
  width: 60%;
  height: $leading *2;
  background: #fff;
  border: 1px solid #ddd;
  padding-left: 15px;
  margin: 0 auto ;
  .input-search-goods{
    width:90%;
    height: 100%;
    outline: none;
    border: none;
    margin-left: 10px;
    box-sizing: border-box;
  }
}
.sign-in-up{
  button{
    margin-top: $leading;
  }
  .btn-sign-up{
    margin-left: 10px;
  }
}


// main
.contents{
  .box{
    width: 100%;
    height: $leading * 10;
    border: 1px solid #ddd;
    background: #fff;
  }
}
.goods-thumbnail-box{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  img{
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150px, -50%);
  }
}
.goods-thumbnail-box:hover{
  @include thumbnail-hover;
}